<div ui-view >

  <a ui-sref="list"><< Return to Contacts</a>

  <h1>DETAILS</h1>

  <ul>
    <li>{{ contact.name.first }}</li>
    <li>{{ contact.name.last }}</li>
  </ul>


  <h5>Business</h5>
  <ul class="business">
    <li>{{ contact.addresses.business.name }}</li>

    <li>{{ contact.addresses.business.phone }}</li>
    <li>{{ contact.addresses.business.url }}</li>

    <ul class="business__address">
      <li>{{ contact.addresses.business.location.line1 }}</li>
      <li>{{ contact.addresses.business.location.line2 }}</li>
      <li>{{ contact.addresses.business.location.city }}</li>
      <li>{{ contact.addresses.business.location.state }}</li>
      <li>{{ contact.addresses.business.location.zip }}</li>
    </ul>

    <!--  Google Map integration -->
    <div id="map">
      {{ contact.addresses.business.map }}
    </div>
  </ul>

  <h5>Home</h5>
  <ul class="home">
    <li>{{ contact.addresses.home.phone }}</li>

    <li>{{ contact.addresses.home.url }}</li>

    <ul class="home__address">
      <li>{{ contact.addresses.home.location.line1 }}</li>
      <li>{{ contact.addresses.home.location.line2 }}</li>
      <li>{{ contact.addresses.home.location.city }}</li>
      <li>{{ contact.addresses.home.location.state }}</li>
      <li>{{ contact.addresses.home.location.zip }}</li>
    </ul>

    <!--  Google Map integration -->
    <div id="map">
      {{ contact.addresses.home.map }}
    </div>
  </ul>

  <button class="button contact__edit" ng-click="editContact(contact)"><a ui-sref="edit">Edit</button>
  <button class="button contact__delete" ng-submit="deleteContact(contact)">Delete</button>

</div>
