<div ui-view>

  <a ui-sref="list"><< Return to Contacts</a>

  <h1>DETAILS</h1>

  <div>{{ contact.name.first }}</div>
  <div>{{ contact.name.last }}</div>

  <h5>Business</h5>
  <div class="business">
    <div>{{ contact.addresses.business.name }}</div>

    <div>{{ contact.addresses.business.phone }}</div>
    <div>{{ contact.addresses.business.url }}</div>

    <ul class="business__address">
      <li>{{ contact.addresses.business.location.line1 }}</li>
      <li>{{ contact.addresses.business.location.line2 }}</li>
      <li>{{ contact.addresses.business.location.city }}</li>
      <li>{{ contact.addresses.business.location.state }}</li>
      <li>{{ contact.addresses.business.location.zip }}</li>
    </ul>

    <!--  Google Map integration -->
    <div id="map">
      {{ contact.addresses.business.map }}
    </div>
  </div>

  <h5>Home</h5>
  <div class="home">
    <div>{{ contact.addresses.home.phone }}</div>

    <div>{{ contact.addresses.home.url }}</div>

    <ul class="home__address">
      <li>{{ contact.addresses.home.location.line1 }}</li>
      <li>{{ contact.addresses.home.location.line2 }}</li>
      <li>{{ contact.addresses.home.location.city }}</li>
      <li>{{ contact.addresses.home.location.state }}</li>
      <li>{{ contact.addresses.home.location.zip }}</li>
    </ul>

    <!--  Google Map integration -->
    <div id="map">
      {{ contact.addresses.home.map }}
    </div>
  </div>

  <button class="button contact__edit" ng-click="editContact(contact)" ng-model="contact.editing"><a ui-sref="edit">Edit</button>
  <button class="button contact__delete" ng-submit="deleteContact(contact)">Delete</button>

</div>
